body{
	background-color: pink;
	text-align: center;
}

.jumbotron{
	background-color: #CD5C5C;
	height: 100px;
}
.jumbotron h1{
	font-size: 30px;
    margin-top: -13px;
    /*text-align: center;*/
}
#players{
	height: 100px;
	border: 1px solid red;
	padding: 10px;
	display: none;
}
#player1{
	height: 80px;
	border: 1px solid red;
}
#player2{
	height: 80px;
	border: 1px solid red;
}
#round{
	height: 80px;
	border: 1px solid red;
}

#players-choices{
	margin: 30px;
}	
#player1-choice{
	height: 200px;
	border: solid red 1px;
}
#player2-choice{
	height: 200px;
	border: solid red 1px;
}
img{
	height: 80px;
	width: 80px;
	margin-bottom: 10px;
}
#box{
	background-color: #fed;
	color: black;
	height: 150px;


}
@media screen and (min-width: 768px)

.jumbotron h1 {
    font-size: 20px;
}